
/*! LAYOUT COMPONENT ------------------------------------------------------------------------ */

.fullPageLayout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.contentWrapper {
  display: flex;
  flex: 1;
  overflow: hidden;   /* VERY IMPORTANT FOR OVERFLOW */
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

.mainContent {
  flex: 1;
  position: relative;
  overflow: scroll;      /* MUST BE SET FOR THE CONTAINER WITH SCROLLBAR */
  overflow-x: hidden;  /* MUST BE SET FOR THE CONTAINER WITH SCROLLBAR */
  transition: --var1 .5s; /* MUST BE SET FOR THE CONTAINER WITH SCROLLBAR */


  margin-left: 5px;
  background: #121212;
  min-width: 520px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
}

#NoRightSidebar {
  margin-right: 0px;
}


/* Small  THESE MEDIA QUERIES SOLVE ISSUE WITH MARGIN SPACING WITH HITTING SMALL SIZE */
@media screen and (max-width: 1023px) and (min-width: 642px) {
  .mainContent {
    margin-right: 0px;
  }
}

/* Mobile */
@media screen and (max-width: 641px) {
  .mainContent {
    margin-right: 0px;
  }
}

/*! ------------------------------------------------------ */





/*? SCROLLBAR LOGIC IN MAIN CONTAINER  */

@property --var1 {  /* Needed For Fade In Transition Of Scrollbars. Cannot do transitions for scrollbars default */
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}

.mainContent:hover {    /* For Scrollbar Fade-in when navigating to container */
  --var1: rgba(147, 145, 145, 0.6);
}


.mainContent::-webkit-scrollbar {
  background: transparent;
  width: 8px;
}

.mainContent::-webkit-scrollbar-track {  /* had issues with track gutter width moving header styling, so I'm having the track be part of the background */
  background-color: #000000;
}

.mainContent::-webkit-scrollbar-thumb {
  background: var(--var1);
  height: 200px;
  border-radius: 1px;
}

.mainContent::-webkit-scrollbar-thumb:hover {
  background-color: rgba(230, 226, 226, 0.6);
}
.mainContent::-webkit-scrollbar-thumb:active {
  background-color: rgba(220, 217, 217, 0.8);
}

/*? ----------------------------------------------------------------- */
