.resizablesidebarcontainer {
    display: flex;
    height: 100%;
    background-color: #121212;
}

.resizablesidebar {
    flex: 0 0 auto;
    overflow: hidden;
    border-right: 1px solid #ddd;
}

.resizebar {
    cursor: ew-resize;
    width: 3px;
    height: 100%;
    color: white;
}
