.resizableSidebarContainer {
    display: flex;
    height: 100%;
    background-color: #121212;
}

.resizableSidebar {
    flex: 0 0 auto;
    overflow: hidden;
    border-right: 1px solid #ddd;
    min-width: 4vw;
    max-width: 60vw;
}

.resizebar {
    cursor: ew-resize;
    width: 3px;
    height: 100%;
    color: white;
}
.resizebar:hover {
    background-color: rgb(69, 68, 68);
}
