/*? CSS STYLING FOR SCROLLING */

.resizableSidebarContainer {
    display: flex;
    height: 100%;
    background-color: #121212;
    border-radius: 10px;
}

.resizableSidebar {
    flex: 0 0 auto;
    overflow: hidden;
    /* border-right: 1px solid #ddd; */
    min-width: 80px;
    max-width: 52vw;
}

.resizebar {
    cursor: ew-resize;
    width: 3px;
    height: 100%;
}

.resizebar:hover {
    background-color: rgb(123, 122, 122);
}
.resizebar:active {
    background-color: rgb(123, 122, 122);
}
.resizebar:focus {
    background-color: rgb(123, 122, 122);
}

/*? ---------------------------------------- */


.topNav {
    display: flex;
    height: 87px;
    padding: 8px 28px;
    border-bottom: 8px solid black;
}


.topNav ul {
    list-style: none;
}
.topNav ul li {
    margin-top: 10px;
    margin-bottom: 20px;
}
.topNav ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}

.topNav ul li a span:first-child {
    font-size: 22px;
    margin-right: 20px;
}
.topNav ul li a:hover,
.topNav ul li a:active,
.topNav ul li a:focus {
    color: #ffffff;
}
.topNav ul li a:hover .fa,
.topNav ul li a:active .fa,
.topNav ul li a:focus .fa {
    color: #b3b3b3;
}
.topNav ul li a:hover .fa:hover,
.topNav ul li a:hover .fa:active,
.topNav ul li a:hover .fa:focus {
    color: #ffffff;
}

/** ---------------- SIDEBAR CONTENT -------------------- **/

.mainLibrary {
    padding: 15px 30px;
}

.mainLibrary div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainLibrary div:first-child a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}

.mainLibrary div:first-child a span:first-child {
    font-size: 22px;
    margin-right: 20px;
}
.mainLibrary div:first-child a:hover,
.mainLibrary div:first-child a:active,
.mainLibrary div:first-child a:focus {
    color: #ffffff;
}
.mainLibrary div:first-child a:hover .fa,
.mainLibrary div:first-child a:active .fa,
.mainLibrary div:first-child a:focus .fa {
    color: #b3b3b3;
}
.mainLibrary div:first-child a:hover .fa:hover,
.mainLibrary div:first-child a:hover .fa:active,
.mainLibrary div:first-child a:hover .fa:focus {
    color: #ffffff;
}

.mainLibrary div:first-child div {
    font-size: 16px;
    font-weight: lighter;
    color: #b3b3b3;
    margin-top: 5px;
    box-sizing: border-box;
    transition: box-shadow 0.5s ease;
}

.mainLibrary div:first-child div:hover {
    box-shadow: 0px 0px 1px 9px rgb(46, 46, 46, 0.5);
    border-radius: 50px;
    color: #ffffff;
}

/** --------------------------------------- **/


/* Large */
@media screen and (min-width: 1431px) {
    .resizableSidebar {
        max-width: 52vw;
    }
}

/* Medium */
@media screen and (max-width: 1430px) and (min-width: 1024px) {
    .resizableSidebar {
        max-width: 27vw;
    }
}

/* Small */
@media screen and (max-width: 1023px) and (min-width: 642px) {  /* 938 and below = no right sidebar */
    .resizableSidebar {
        max-width: 33vw;
    }
}

/* Mobile */
@media screen and (max-width: 641px) {
    .resizableSidebar {
        max-width: 80px;
    }
    #narrowMedia {
        display: none;
    }
}

/*! --- CHANGE STYLING OF LIBRARY SCROLLBAR SAFELY WHEN WIDTH IS 80px ---  */

.narrowSpan {
    display: none;
}

/*! --- CHANGE STYLING OF LIBRARY SCROLLBAR SAFELY WHEN WIDTH IS 80px ---  */
