.resizableSidebarContainer {
    display: flex;
    height: 100%;
    background-color: #121212;
    border-radius: 15px;
}

.resizableSidebar {
    flex: 0 0 auto;
    overflow: hidden;
    /* border-right: 1px solid #ddd; */
    min-width: 80px;
    max-width: 52vw;
}

.resizebar {
    cursor: ew-resize;
    width: 6px;
    height: 100%;
}

.resizebar:hover {
    background-color: rgb(123, 122, 122);
}
.resizebar:active {
    background-color: rgb(123, 122, 122);
}
.resizebar:focus {
    background-color: rgb(123, 122, 122);
}



/* 1431 max safe at 53vw */
/* 939 max safe at 33vw */
/* 938 and below = no right sidebar */  /* max-width 33vw */
/* mobile view starts at 641px */  /* max-width 80px */

/*  at 1635 width and above, no dissapear             (max-width 53vw)  */
/*  between 1634 and 1298 --> make dissapear at 0.44  (max-width 44vw)  */
/*  below 1297 width, make dissapear at 0.33          (max-width 33vw)  */


/* Large */
@media screen and (min-width: 1431px) {
    .resizableSidebar {
        max-width: 52vw;
    }
}

/* Medium */
@media screen and (max-width: 1430px) and (min-width: 1024px) {
    .resizableSidebar {
        max-width: 27vw;
    }
}

/* Small */
@media screen and (max-width: 1023px) and (min-width: 642px) {  /* 938 and below = no right sidebar */
    .resizableSidebar {
        max-width: 33vw;
    }
}

/* Mobile */
@media screen and (max-width: 641px) {
    .resizableSidebar {
        max-width: 80px;
    }
}
